<div class="form-group">
  <label for="username">Username: </label>
  <input required autofocus placeholder="Enter Username" type="text" name="username" id="username" class="form-control">
</div>
<br>
<div class="form-group">
  <label for="password">Password: </label>
  <input required placeholder="Enter Password" type="password" name="password" id="password" class="form-control">
</div>
<br>
<div class="form-group text-right">
  <input type="submit" class="btn btn-primary" value="Login">
  <a href="/">
    <input type="button" class="btn btn-warning" value="Cancel">
  </a>
  <a href="/register">
    <input type="button" class="btn btn-secondary" value="Register">
  </a>
</div>
