<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
  <main class="container">
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <h1>Please Login</h1>
        <form action="/register" method="POST">
          <%- include('_user_register_fields') %>
        </form>
      </div>
    </div>
  </main>
</body>

<%- include('../partials/bootstrap_scripts') %>

</html>